header.dashboard-header {
  background-color: #cee7ff !important;
  border-bottom-color: #00519e !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://fr.sodexo.com/files/live/sites/com-global/files/00_Brand_Roll_Out/SODEXO_Logotype_2021_WhiteBackground_120x40.png") !important;
}
